venv
.idea
provider/output/img.png
*/provider/stable-diffusion-v1-5
api/images/*
api/sd-golem-service.log
dump.rdb
*.gvmi

client/node_modules
client/.next/
client/build
client/out

client/npm-debug.log*
client/*.tsbuildinfo
client/next-env.d.ts

client/.sentryclirc
client/sentry.properties
client/next.config.original.js
client/next.config.wizardcopy.js

discord/env.json

__pycache__
