venv
.idea
provider/provider_venv/
provider/output/img.png
provider/stable-diffusion-v1-5/*
provider/stable-diffusion-v1-5.zip
api/images/*
api/sd-golem-service.log
dump.rdb
*.gvmi

client/node_modules
client/.next/
client/build
client/out

client/npm-debug.log*
client/*.tsbuildinfo
client/next-env.d.ts

*.log
__pycache__