DJANGO_DEBUG=true
DJANGO_SECRET_KEY=someSecretKey
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_SETTINGS_MODULE=rent_golem.settings

POSTGRES_HOST=db
POSTGRES_USER=rent
POSTGRES_PASSWORD=ilovemyjob
