global
    stats socket /tmp/haproxy.sock mode 600 level admin
    stats timeout 2m
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend stats
    bind load-balancer:8404
    log global
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats refresh 2s
    stats auth admin:pass

#Exemplary config for Cluster (frontend + backend)
#frontend http
#    bind *:8100
#    default_backend all

#backend all
#    http-send-name-header Host
#    server wden37b83e55gy-8000.proxy.runpod.net wden37b83e55gy-8000.proxy.runpod.net:80 maxconn 1 check
#    server 48hrg2tx134kln-8000.proxy.runpod.net 48hrg2tx134kln-8000.proxy.runpod.net:80 maxconn 1 check

