{% extends "base.html" %}

{% block content %}
    <div class="w-50">
        <form method="POST" action="/txt2img/" class="d-flex flex-column justify-content-center align-items-center">
            <div class="form-group w-100">
                <input type="text" class="form-control" name="prompt" required placeholder="Enter phrase ex. Poland's football team celebrate winning World Cup" />
                <small class="form-text text-muted">Generating might take a minute or two.</small>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Generate</button>
        </form>
    </div>
{% endblock %}
