{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center w-75">
    <h3><span class="text-muted">Image status:</span> <strong>{{ status }}</strong></h3>
    <h3><span class="text-muted">Phrase:</span> <strong>{{ prompt }}</strong></h3>
    {% if status == 'Ready' %}
        <img src="{{ img_path }}" />
    {% elif status == 'Failed' %}
        <span class="h1 text-danger">:(</span>
    {% else %}
        <img class="mt-3" src="/static/loader.gif" />
    {% endif %}

    <a href="/" class="btn btn-outline-dark mt-5" role="button">Go back</a>
</div>

<script type="text/javascript">
    let jobStatus = '{{ status }}';
    if( jobStatus !== 'Ready' && jobStatus !== 'Failed'){
        setTimeout(function(){
            location.reload();
        },
        5000);
    }
</script>
{% endblock %}
