@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono text-[10px];
  }

  body {
    @apply relative bg-[#1f1f1f] text-center text-white;
  }

  button {
    @apply bg-blue text-white hover:opacity-80;
  }

  h1,
  h2 {
    @apply font-sans;
  }

  footer {
    @apply font-sans font-light leading-[1.5rem] tracking-[0.009rem] text-grey;
  }
}

@layer components {
  .container {
    width: 90%;
  }

  @media (min-width: 728px) {
    .container {
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .background {
      @apply min-h-[100%] bg-contain bg-no-repeat;

      background-position-x: -40rem;
    }
  }

  @media (min-width: 1440px) {
    .background {
      background-position-x: -20rem;
    }
  }

  .button {
    @apply m-[1.8rem] min-h-[5.6rem] min-w-[18.2rem] rounded-[0.8rem] font-sans text-[1.6rem] font-bold leading-[2.4rem] tracking-[0.143rem];
  }
}
